
<div class="header-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <style>
        .header-container{
            position: relative;
            background-color: #ad8383;
        }

        .logo {
            width: 80px;
            height: 50px;
            position: absolute;
            margin-left: 220px;
            margin-bottom: 40px;
            border: 1px solid white;
            border-radius: 70%;
        }
        .aman{
            text-decoration: none;
            color: white;
            font-family: Montserrat;
            font-weight: 400;
        }
    </style>
    <img class="logo" src="https://i.pinimg.com/originals/dd/64/da/dd64da585bc57cb05e5fd4d8ce873f57.png"/>
    <div class="site-name" > <a class="aman" th:href="@{/}">Магазин</a> </div>

    <div class="header-bar">
        <th:block sec:authorize="isAuthenticated()">
            Hello
            <a th:href="@{/admin/accountInfo}" th:utext="${#request.userPrincipal.name}">..</a>
            &nbsp;|&nbsp;
            <a th:href="@{/admin/logout}">Выйти</a>
        </th:block>

        <th:block sec:authorize="!isAuthenticated()">
            <a th:href="@{/admin/login}">Авторизация</a>
        </th:block>
    </div>
</div>
