
<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <a th:href="@{/}">Главная</a>
    |
    <a th:href="@{/about}">О нас</a>
    |
    <a th:href="@{/productList}">
        Книги
    </a>
    |
    <a th:href="@{/shoppingCart}">
        Корзина
    </a>
    <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
        <a th:href="@{/admin/orderList}">
            Список заказов
        </a>
        |
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_MANAGER')">
        <a th:href="@{/admin/product}">
            Создать товар
        </a>
        |
    </th:block>
</div>