<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Магазин книг</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Корзина демо</div>
<div class="demo-container">
  <h3>Контент</h3>
  <ul>
    <li>AAAA</li>
    <li>аыав</li>
    <li>ававав</li>
  </ul>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>